/* Set default font family and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
    /* color: #588970; */
  }
  
  /* Header styles */
  header {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    align-items: center;
    /* text-align: center; */
  }
  
  header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  img {
    display: flex;
    width: 150px;
    height: auto;
    align-items: center;
  }
  
  /* Navigation menu styles */
  nav {
    /* background-color: #333; */
    background-color: #588970;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 16px;
  
    width: 106px;
    height: 51px;
  
    background: #F27A44;
    border-radius: 30px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('../assets/images/dosha.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  /* Features section styles */
  .features {
    padding: 50px;
  }
  
  .features h3 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  .features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .features li {
    width: 30%;
  }
  
  .features li img {
    width: 100%;
  }
  
  .features li h4 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .features li p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  /* CTA section styles */
  .cta {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
  }
  
  .cta h3 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  .cta p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .cta button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta button:hover {
    background-color: #555;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }